<ion-view title="Prajjwal Dangal" id="page8">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h4 id="prajjwalDangal-heading5" style="color:#41B854;font-weight:600;font-style:italic;">PDangal</h4>
        <div id="prajjwalDangal-markdown10" style="color:#000000;">
            <p>Hey</p>
        </div>
        <h4 id="prajjwalDangal-heading6" style="color:#41B854;font-weight:600;font-style:italic;">PDangal</h4>
        <div id="prajjwalDangal-markdown12" style="color:#000000;">
            <p>saw you've worked with Ionic.</p>

            <p>Any tips or advice on getting started?</p>
        </div>
        <div class="spacer" style="width: 285px; height: 255px;"></div>
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="Reply...">
            </label>
        </form>
    </ion-content>
</ion-view>