<ion-view title="Profile" id="page2" style="background-color:#00000;">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <h1 id="profile-heading4" style="color:#000000;">Welcome!</h1>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <div id="profile-markdown8" style="color:#000000;">
            <p>
                <strong>About you..</strong>
            </p>
        </div>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <form class="list">
            <div id="profile-markdown9" style="color:#000000;">
                <p>
                    <strong>What are you looking for?</strong>
                </p>
            </div>
            <label class="item item-select" name="selection">
                <span class="input-label"></span>
                <select>
                    <option>Developer</option>
                    <option>Entrepreneur</option>
                    <option>Both</option>
                </select>
            </label>
        </form>
        <a ui-sref="tabsController.finder" id="profile-button5" class="button button-positive  button-block icon ion-android-checkbox-outline">Save</a>
    </ion-content>
</ion-view>