<ion-view title="Profile" id="page2" style="background-color:#00000;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h2 id="profile-heading4" style="color:#000000;">Welcome, Saurav!</h2>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <div id="profile-markdown8" style="color:#000000;">
            <p>
                <strong>About you..</strong>
            </p>

            <p>You are both a developer and an entrepreneur.</p>

            <p>
                <strong>Description</strong>
            </p>

            <p>I am a developer, entrepreneur, student. Life is busy, looking for some awesome peopel to work with on some cool project.</p>

            <p>Hit me up if you are interested in mobile/web development as well as ML projects.</p>

            <p>I also love to help out with idea validation in my free time. :)</p>
        </div>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <form class="list">
            <div id="profile-markdown9" style="color:#000000;">
                <p>
                    <strong>What are you looking for?</strong>
                </p>
            </div>
            <label class="item item-select" name="selection">
                <span class="input-label"></span>
                <select>
                    <option>Developer</option>
                    <option>Entrepreneur</option>
                    <option>Both</option>
                </select>
            </label>
        </form>
        <a ui-sref="tabsController.finder" id="profile-button5" class="button button-positive  button-block icon ion-android-checkbox-outline">Save</a>
    </ion-content>
</ion-view>